/*div {
    box-sizing: border-box;
}*/
.DescriptionParentCatalog {
    margin-top: 50px;
    background-color: white;
    /*padding-top: 30px;
    padding-bottom: 30px;*/
}

.priceViewProduct{
    font-size:19px !important;
}

.DescriptionHeaderCatalog {
    padding-top: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 17%;
    margin-left: 17%;
    /*margin-left: 17%;
    margin-top: 10px;
    margin-bottom: 10px;*/
    font-size: 22px;
    /*margin-left: 20px;*/
    text-align: justify;
    /*color: coral;*/
    color: coral /*#031907  #055713*/;
    font-weight: 600;
}

.DescriptionTextCatalog {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 17%;
    margin-left: 17%;
    font-size: 20px;
    text-align: justify;
    /*color: coral;*/
    /*color: #031907 #055713*/
    font-weight: 500;
}

.center {
    margin: 0 auto;
}

.MyTop{
    margin-top:90px;
}

.parent {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    justify-content: flex-start;
    height: 100%;
    width: 1028px;
    margin: 0 auto;
    /*padding-left:60px;*/
    /*justify-content:space-around;*/
}

.imgCatalog {
    /*height: auto;*/
    /*width: 100%;*/
    /* еще больше контроля с max-width */
    max-width: 240px;
    min-height: 220px;
    max-height: 300px;
}

.border {
    width: 250px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border: 1px solid #F1E7E8;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    max-height: 500px;
    /*height: 500px;*/
    position: relative;
}

.wrap {
    height: 300px;
    position: relative;
}

.product-wrap {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

    .product-wrap:after {
        content: '';
        background: rgba(73, 102, 162, .5);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        transform: scale(.3);
        transition: .3s ease-in-out;
    }

.border:hover .product-wrap:after {
    opacity: 1;
    transform: scale(1);
}

.product-wrap a {
    display: block;
    text-decoration: none;
}

.product-wrap img {
    display: block;
    /*width: 100%;*/
}

.loop-action {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}

.border:hover .loop-action {
    opacity: 1;
}

.loop-action a {
    text-decoration: none;
    display: block;
    border: 1px solid white;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    min-width: 160px;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
}

.goToCart{
    color:white;
}

.btnOrange {
    background-color: #FF7400;
    color: white !important;
}

/*.btnOrange a:after {
    background-color: #FF7400;
}*/

.loop-action a:after {
    content: '';
    position: absolute;
    left: -220%;
    top: -500%;
    width: 140%;
    height: 1000%;
    transform: rotate(45deg);
    background: white;
    z-index: -1;
    transition: .3s ease-in-out;
}

    .loop-action a:hover {
        color: black;
    }

        .loop-action a:hover:after {
            left: 0%;
        }

.border:hover {
    border-color: #4966A2;
}

.product-info {
    /*padding-top: 15px;*/
    min-height: 60px;
    margin-top: 10px;
    text-align: center;
}

.stars {
    font-size: 14px;
    font-family: FontAwesome;
}

    .stars:before {
        content: "\f005\f005\f005\f005\f123";
        color: #F2453E;
    }

.product-title {
    font-weight: normal;
    font-family: "Open Sans";
    color: #162546;
    font-size: 18px;
    text-align: center;
}

/*.price {
    font-family: "Open Sans";
    color: #162546;
    font-style: italic;
    font-weight: bold;
}*/

.stickers {
    /*left: 0;*/
    /*padding-right: 50px;*/
    right: 0;
    top: 4px;
    position: absolute;
    z-index: 3;
    line-height: 20px;
    text-align: center;
    padding-left: 50px;
}

    .stickers .sticker_khit {
        background-color: #2992d9;
        padding: 2px 9px;
    }


    /* для главной */
.section {
    margin-top: 250px;
    background-color: white;
    padding-top: 35px;
}

img.PictureSuccess {
    height: 600px;
    width: 800px;
}

.modalSuccess {
    margin: 0 auto !important;
    height: 650px !important;
    width: 800px !important;
}

.priceInCatalog {
    width: 100%;
    font-weight: 600;
    /*color: #543019;
    color: #4a713a;*/
    color: #df873e;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 17px;
    font-family: sans-serif;
}

h2{
    margin:0;
}

.section_title {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

}

    .section_title:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background-color: #FF7400; /*#f38181*/
        
        margin: 30px auto;
    }

.MainPicture {
    max-width: 100%;
    /*height: 1000px;*/
    display: block;
    height: auto;
}
.ConteinerMainPicture {
    background: url(../images/bitkisel-tedavi.jpg) no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 400px;
}

.autoplaySlick {
    /*width:60%;
    margin-left:20%;
    margin-right:20%;*/
    width: 1028px;
    margin: 0 auto;
}

.borderSlider {
    height: 330px;
}

.TextThanks {
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
}

.WordThanks {
    padding-bottom: 10px;
    color: #2fb580;
    font-size: 40px;
    padding-top: 5px;
}

.SmallText {
    color: #575757;
    font-size: 22px;
}

@media(max-width:768px) {
    .parent {
        width: 100%;
        padding-top: 15px;
        padding-left: 0px;
        justify-content: center;
    }

    .imgCatalog {
        /*height: auto;*/
        width: 100%;
        /* еще больше контроля с max-width */
        /*max-width: 140px;*/
        min-height: 160px;
        max-height: 200px;
    }

    .product-info {
        min-height: 90px;
    }

    .border {
        width: 42%;
        padding: 10px;
        border: 1px solid #F1E7E8;
        margin: 1px;
        /*max-height: 320px;
        height:320px;*/
    }

    .borderSlider {
        margin: 0 auto;
        width: 70%;
    }

    .wrap {
        height: 270px;
        position: relative;
    }

    .product-title {
        font-size: 14px;
    }

    .loop-action a {
        font-size: 12px;
        line-height: 1.1;
        min-width: 80px;
        border-width: 1px;
        /*color: darkgray;
        border-color: darkgrey;*/
        padding: 7px;
        color: #8b4300;
        border-color: #8b4300 /*#008a77*/;
    }

    .loop-action {
        opacity: 1;
        top: 75%;
        left: initial;
        width: 100%;
        transform: initial;
    }

    .product-wrap:after {
        background: initial; /*убирает синий цвет на картинке*/
    }

    .autoplaySlick {
        width: 70%;
    }

    img.PictureSuccess {
        height: 200px;
        width: 300px;
    }

    .modalSuccess {
        margin: 0 auto !important;
        height: 230px !important;
        width: 300px !important;
    }

    .Thanks {
        position: relative;
    }
    .TextThanks {
        text-align: center;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .WordThanks {
        padding-bottom: 5px;
        color: #2fb580;
        font-size: 25px;
        padding-top: 5px;
    }
    .SmallText{
    color: #575757;
    font-size: 15px;
    }
}