.containerFormContactDate {
    max-width: 750px;
    margin: 30px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 45px;
}

.MyForm-control {
    height: 24px;
    font-size: 18px;
}