

.flexModal {
    display: flex;
    
}
.btnViewProd {
    border-radius: 50px;
    padding: 9px 12px;
    /*margin-top: -50px;*/
}

.imgHeight {
    max-height: 450px;
    max-width: 450px;
}

.minWidthModal {
    margin: 10% 13% 0 13%;
    /* margin-left: -14%; */
    width: 76%;
    border-radius: 20px;
}

.minWidthModalViewProduct {
    margin: 30px 13% 0 13%;
    width: 76%;
    border-radius: 10px;
}

/*только чтобы переопределить*/
.buttonModal:before {
    content: "";
    font-family: none;
    font-size: 0;
    color: #F9F0DA;
}

.textMarginModal {
    margin: 22px 0;
}

.imgModal {
    float: left;
}

.DescriptionModal {
    margin-left: 12px;
    padding: 0 20px;
}

.btnAddToCartFromDetail{
    text-align:center;
}

.textModal {
    font-size: 18px;
    color: black;
    text-align: justify;
    /*white-space: pre-wrap;*/
    white-space: pre-line;
}

.list6a {
    padding: 0;
    list-style: none;
}

.textModal li {
    list-style: none;
}

    .textModal li:before {
        /*padding-right: 10px;
        font-weight: bold;
        color: #f69a73;
        content: "\2606";*/
        content: "\2022";
        color: orange;
        font-weight: bold;
        font-size: 24px;
        display: inline-block;
        width: 1em;
    }

        .textHeadModal {
    font-size: 21px;
    color: black;
    font-weight: bold;
    text-align: center;
    border-color: #008a77;
    border-bottom: 2px;
    border-bottom-color: #eac9ae/*#008a77*/;
    /*border-bottom-color: #2f241e;*/
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    /*background-color: #bc8f8f;*/
}

.textHeadInputModal {
    /*font-size: 23px;*/
    font-size: 21px;
    text-align: center;
    color: #803a00 /*#008a77*/;
}

.textHeadHeadModal {
    font-weight: 100;
    color: #2f241e;
}

.topBorderModal {
    border-top-color: #eac9ae /*#008a77*/;
    border-style: solid;
    margin-left: 0px;
    border-top-width: 2px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.ColourChangeModal {
    outline: 0 !important;
    transition: 0.1s linear;
}

    .ColourChangeModal:hover {
        /*color: brown;*/
        color: #FF7400;
        /*#ebb926 */ /*#e6b010*/
        /* ÷вет текста */
        /* background: #008;  ÷вет фона */
    }

.list6a {
    padding: 0;
    list-style: none;
}

.list6a li {
    padding: 6px;
}

    .list6a li:before {
        padding-right: 10px;
        font-weight: bold;
        color: #f69a73;
        content: "\2606";
        transition-duration: 0.5s;
    }

    /*.list6a li:hover:before {
        color: #337AB7;
        content: "\2605";
    }*/

@media(max-width:768px) {
    .textModal {
        font-size: 12px;
    }

    .textHeadModal {
        font-size: 12px;

    }

    .imgModal {
        float: left;
        max-width:30%;
    }

    .DescriptionModal {
        margin-left: 2px;
    }

    .imgHeight {
        max-height: 320px;
        max-width: 210px;
    }

    .flexModal{
        display:block;
    }

    .photo{
        display:flex;
        justify-content:center;
    }

    .minWidthModal {
        margin: 10% 5% 0 5%;
        width: 90%;
    }

    .minWidthModalViewProduct {
        margin: 20px 5% 0 5%;
        width: 90%;
    }

    }
