

.flexModal {
    display: flex;
    
}

.imgHeight{
    max-height:450px;
    max-width: 450px;
}

.minWidthModal {
    margin: 10% 10% 0 11%;
    /*margin-left: -14%;*/
    width: 80%;
  
}

.buttonModal{

}
/*только чтобы переопределить*/
.buttonModal:before {
    content: "";
    font-family: none;
    font-size: 0;
    color: #F9F0DA;
}


.imgModal {
    float: left;
}

.DescriptionModal {
    margin-left: 12px;
}

.textModal {
    font-size: 18px;
    color: black;
    text-align: justify;
    white-space: pre-wrap;
}

.textHeadModal {
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-align: center;
    border-color: #008a77;
    border-bottom: 3px;
    border-bottom-color: #008a77;
    border-style: solid;
}