@model Domain.Entities.Cart

<head>
    @*<link rel="stylesheet" href="~/css/Catalog.css" />
        <link rel="stylesheet" href="~/css/Pages2.css" />*@
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700" rel="stylesheet">
       
    </head>

@*<div>
    @Html.ActionLink("Заказать", "Index", "Cart",
    new { @class = "btn" })
</div>*@

<div>
    <p>Ваша корзина:</p>
    <p>@Model.Lines.Sum(x => x.Quantity) Товаров, @Model.ComputeTotalValue().ToString("# руб")</p>
</div>