
@{
    ViewData["Title"] = "CompleteFeedBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Feedback.css" />
</head>
<div class="itemCompleteFeedback">Ваш отзыв успешно отправлен</div>

