<head>
    <link rel="stylesheet" href="~/css/FormContactDate.css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/ErrorStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Delivery.css" />
</head>
<div class="containerDelivery">
    <div class="headDelivery">
        Доставка
    </div>
        <ul class="dil">
            <li class="elem">Доставка осуществляется ПОЧТОЙ РОССИИ</li>
            <li class="elem">При покупке свыше 3000 руб доставка осуществляется БЕСПЛАТНО</li>
            <li class="elem">
                Срок доставки: 3-14 дней
            </li>
            <li class="elem">
                Срок хранения посылки: 15 дней с момента поступления
            </li>
        </ul>
</div>

