<head>
    <link rel="stylesheet" href="~/css/FormContactDate.css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/ErrorStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Delivery.css" />
</head>
<div class="containerDelivery">
    <div class="headDelivery">
        Доставка и оплата
    </div>
    <ul class="dil">
        <li class="elem">Доставка осуществляется по всем регионам России ПОЧТОЙ РОССИИ</li>
        <li class="elem">При покупке свыше 3000 руб доставка осуществляется БЕСПЛАТНО</li>
        <li class="elem">
            Срок доставки: 3-14 дней
        </li>
        <li class="elem">
            Срок хранения посылки: 15 дней с момента поступления
        </li>
        <li class="elem">
            Действия при возникновении проблем с оплатой: Сообщить по телефону 8-950-425-6908 или на почту kladovaia-altaia@mail.ru
        </li>
        <li class="elem">
            Возврат денежных средств осуществляется, если заказ ещё не был отправлен
        </li>
        <li class="elem">
            Товар возврату не подлежит
        </li>
    </ul>
    <div style="white-space:pre-wrap;">
        Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:
        • МИР                    @*<img  width="44" src="~/images/Nspk-mir.png">*@
        • VISA International      @*<img  width="44" src="~/images/Former_Visa_(company)_logo.svg.png">*@
        • Mastercard Worldwide   @*<img  width="44" src="~/images/mastercard.png">*@
        • JCB                     @*<img  width="44" src="~/images/jcb.jpg">*@
    </div>
    <div>
        <p>
            Для	оплаты	(ввода	реквизитов	Вашей	карты)	Вы	будете	перенаправлены	на	платежный	шлюз	ПАО	СБЕРБАНК.	Соединение
            с	 платежным	 шлюзом	 и	 передача	 информации	 осуществляется	 в	 защищенном	 режиме	 с	 использованием	 протокола
            шифрования	SSL.	В	случае	если	Ваш	банк	поддерживает	технологию	безопасного	проведения	интернет-платежей	Verified
            By	 Visa,	 MasterCard	 SecureCode,	 MIR Accept,	 J-Secure для	 проведения	 платежа	 также может	 потребоваться	 ввод
            специального	пароля.
        </p>
    </div>
    <div>
        <p>
            Настоящий	 сайт	 поддерживает	 256-битное	 шифрование.	 Конфиденциальность	 сообщаемой	 персональной	 информации
            обеспечивается	ПАО	СБЕРБАНК.	Введенная	информация	не	будет	предоставлена	третьим	лицам	за	исключением	случаев,
            предусмотренных	 законодательством	 РФ.	 Проведение	 платежей	 по	 банковским	 картам	 осуществляется	 в	 строгом
            соответствии	с	требованиями	платежных	систем	МИР,	Visa	Int.,	MasterCard	Europe	Sprl,	JCB
        </p>
    </div>
    @*<div style="white-space:pre-wrap;">
       Оформление Заказа
    </div>*@
    @*<div style="white-space:pre-wrap;">
        Оформление Заказа
        Покупатель добавляет понравившийся товар в корзину через кнопку "Добавить в корзину" и по переходу в корзину ему предлагается оформить заказ, где покупатель должен ввести персональные данные, перейти на защещённый шлюз и оплатить товар.
    </div>*@
    <div style="white-space:pre-wrap;"> 
        При оформлении заказа вы принимаете <a class="OrangeColorText" target="_blank" href="~/images/Соглашение.pdf">пользовательское соглашение на обработку своих персональных данных</a>
    </div>
    @*<div style="white-space:pre-wrap;">
        Реквизиты:
        ИП Журавлёва Мария Викторовна
        244304378297
        Адрес: 662150, Россия, Красноярский край, г. Ачинск, 3-й микрорайон, 9
        8–933–301–29–68
    </div>*@
    <div style="white-space:pre-wrap;">
        Контакты:
        Адрес: 662150, Россия, Красноярский край, г. Ачинск, 3-й микрорайон, 9
        8–933–301–29–68
        kladovaia-altaia@mail.ru
    </div>

</div>

