@*@model IEnumerable<Klad.Models.Product>*@
@*@using Klad.Models
    @model IndexViewModel*@
@using Klad.Models
@model IndexViewModel
@*подключаем все tag-хелперы*@
@addTagHelper "*, Klad"

@{
    ViewData["Title"] = "Главная";
   // Layout = null;
}
<!DOCTYPE html>

<html>
<body>
    


    </body>
</html>